<div class="archives-cat-wrap">    
    <!-- 分类列表 -->
    <% site.categories.filter(cat=>cat.length).sort('name').map(function(category) { %>
    <div class="archives-wrap">
        <div class="archive-year-wrap" id="<%= category.name %>">
            <h2 class="archive-category"><a href="<%=url_for(category.path)%>" title="<%= category.name %>"><%= category.name %></a></h2>
        </div>
        <div class="archives">
            <% category.posts.sort('-date').map(function(post, i){  %>
                <%- partial('_partial/archive-post', {post: post, index: true}) %>
                <% if (post.subtitle && post.subtitle.length) { %>
                    <h3 class="post-subtitle">
                        <%- post.subtitle %>
                    </h3>
                <% } %>
            <% }) %>
        </div>
    </div>
    <% }) %>
</div>