<!DOCTYPE html> 
<html lang="<%= config.language%>"> 
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header') %>
  <main class="container m-h-10 index">
      <div class="row">
        <!-- 左侧列表开始 -->
        <div class="col-xs-12 col-md-9 main">
        <%- body %>          
        </div>
        <!-- zy左侧列表结束 -->        
        <%- partial('_partial/aside') %>        
      </div>
  </main><!-- /.container -->
  <%- partial('_partial/footer') %>
</body>
</html>