<!-- 侧边栏 -->
        <aside class="hidden-xs hidden-sm col-md-3 sidebar">
          <div class="site-overview">
            <%- partial('_site-overview/author') %>
            <%- partial('_site-overview/state') %>
            <%- partial('_site-overview/social') %>
            <%- partial('_site-overview/friends') %>
          </div>
          <%- partial('tagcloud') %>
        </aside>
        <!-- 侧边栏结束 -->