<footer class="bs-docs-footer">
    <div class="container">
      <p>© <%= theme.runTime.start || '2014'%> - <%= theme.runTime.end || '2020'%></p>
      <p>由 <a href="https://hexo.io/" rel="nofollow" target="_blank" title="github" style="color:#99979c;">HEXO</a> 强力驱动 | 主题 - <a href="https://github.com/licecn/hexo-theme-nfnf" rel="nofollow" target="_blank" title="github" style="color:#99979c;">NFNF</a></p>
      <span><a href="<%= theme.footerSocial.github.url%>" rel="nofollow" target="_blank" title="<%= theme.footerSocial.github.title%>"><img src="/img/social-github.png" alt="github"></a></span>
      <span><a href="<%= theme.footerSocial.gitee.url%>" rel="nofollow" target="_blank" title="<%= theme.footerSocial.gitee.title%>"><img src="/img/social-gitee.png" alt="gitee"></a></span>
      <span><a href="<%= theme.footerSocial.weibo.url%>" rel="nofollow" target="_blank" title="<%= theme.footerSocial.weibo.title%>"><img src="/img/social-weibo.png" alt="weibo"></a></span>
      <a class="go-top fa fa-angle-up hidden-xs hidden-sm" href="javascript:scroll(0,0)" title="返回顶部" aria-label="返回顶部"></a>
    </div>
  </footer>
  <%- partial('indexjs') %>